<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
    {%- else -%}
    <!-- <a href="{{ project.url | relative_url }}"> -->
      {%- endif %}
      <div class="card hoverable">
        {%- if project.img %}
        {%- include figure.html
          path=project.img
          alt="project thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h3 class="card-text">{{ project.title }}</h3>
          <!-- <p class="card-text">{{ project.description }}</p> -->
        </div>
      </div>
    {% if project.redirect -%}
    </a>
    {%- endif %}
</div>